doctype html
html
  head
    title Reset password
    style.
      @import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
      body {
        font-family: Prompt, Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: #f4f4f4;
        display: flex;
        flex-direction: column;
      }
      .container {
        width: 1200px;
        background: white;
        box-shadow: 2px 2px 10px rgba(0,0,0,0.1);
        font-size: 30px;
      }
      .header {
        background: #003399;
        height: 200px;
        text-align: center;
      }

      .header img {
        margin-top: 30px;
      }

      .content {
        padding: 20px;
        padding-left: 100px;
        
      }

      .content .mail-to {
        font-weight: bold;
          font-size: 30px
      }

      .button {
        display: inline-block;
        background: #0044cc;
        color: white;
        padding: 10px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
        margin-top: 10px;
      }
      

       .text-blue {
          color: #0E4CBC;
       }

  body
    .container
      .header 
        img(src=appLogo, alt="App Logo", srcset="")
      .content
        div.mail-to เรียน คุณ#{name}
        div.mail-body(style="margin-top:18px;")
          div.body-1 สำนักงานคณะกรรมการอ้อยและน้ำตาลทรายขอเรียนให้ท่านทราบว่า
          div.body-2 
            span.text-blue ท่านได้รับสิทธิ์การตั้งค่ารหัสผ่านใหม่
            span ของระบบการติดตามร่องรอยการเผาไหม้ในไร่อ้อย
          div.body-3 ด้วยเทคโนโลยีอวกาศและภูมิสารสนเทศระบบดาวเทียม  สำหรับ email : 
            span.text-blue #{userEmail}
          div.body-4.text-blue(style="text-align:center;margin-top:24px;margin-bottom:24px;") ท่านสามารถเปลี่ยนรหัสผ่านได้โดยการคลิกปุ่มด้านล่าง
          
          div(style="text-align:center;")
            a.button(href=resetLink style="width:475px;height:110px;line-height: 110px; display:inline-block; background:#003491; color:white; padding:10px 20px; text-decoration:none; border-radius:5px; font-weight:bold;margin-bottom:40px;") ตั้งค่ารหัสผ่านใหม่

        div.mail-footer
          div.footer-1(style="text-align:center;font-weight:bold;") ต้องการสอบถามข้อมูลเพิ่มเติม กรุณาติดต่อ
          div.footer-2(style="text-align:center;") อีเมล :  E-sarabun@OCSB.go.th
          div.footer-3(style="text-align:center;margin-bottom:60px;") โทรศัพท์ : 0 2430 6810
    
    div.ocsb-container(style="display:flex;margin-top:20px;")
      div(style="")
        img(src=ocsbLogo alt="ocsb logo")
      div(style="display:flex;flex-direction:column;justify-content: center;")
        div(style="color:#003491;font-size:12px;") สำนักงานคณะกรรมการอ้อยและน้ำตาลทราย
        div(style="color:#049334;font-size:12px;")  Office of The Cane and Sugar Board
      

